{% extends "home/base.html" %}
{% load static %}
{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}


<body>
  <div class="container my-5">
    {% bootstrap_messages %}
    <main class="form-signin w-100 m-auto border rounded-2">
      <form method="post" action="">
        {% csrf_token %}
        <h2 class="h3 mb-3 fw-normal">Game</h2>
        {% bootstrap_form form %}
        {% buttons %}
          <button type="submit" class="btn btn-primary">
            Create
          </button>
        {% endbuttons %}
        <input type="hidden" name="next" value="{{ game.get_absolute_url }}">
      </form>
    </main>
  </div>
</body>
{% endblock %}
